.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

/* main section codes */

.main {
  background-color: rgb(33, 41, 52);
  min-height: 650px;
  width: 100vw;
  padding: 4rem 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4.4rem;
  font-weight: 550;
}

.sub {
  font-size: 2rem;
  margin-top: -3rem;
  color: rgb(215, 215, 215);
  text-align: center;
}

.homeLink {
  margin-top: 5rem;
  font-size: 1.3rem;
  background-color: rgb(5, 5, 6);
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border: solid 2px transparent;
  transition: 250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: color, border, background-color;
}

.homeLink:where(:hover, :focus, :focus-within) {
  background-color: transparent;
  border: solid 2px white;
  color: white;
}

.runCode {
  --default-color: rgba(255, 255, 255, .7);
  width: 40rem !important;
  max-width: 90vw !important;
  border-radius: .5rem;
  margin-top: 5rem !important;
  position: relative;
  top: 0;
  left: 0;
  padding: 4rem !important;
}

.runCode * {
  color: var(--default-color);
}

.runCode .function {
  color: rgb(211, 92, 92);
}

.runCode .token {
  color: rgba(255, 255, 255, 1);
}

.runCode .parameter {
  color: rgb(216, 154, 216);
}

.runCode .argument {
  font-style: italic;
}

.runCode .error {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: .1rem;
}

.actualCode {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}