.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #222;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0,0,0, .75);
  color: white;
}

.footerLink {
  color: var(--blue);
}

.desktopMenu {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, .5);
  width: 50rem;
  max-width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  border-radius: .5rem;
  color: white;
}

.menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3ch;
  color: var(--blue);
}

.desktopMenuStartContent, .desktopMenuEndContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  align-items: center;
  height: 100%;
  font-size: 1.3rem;
}

.desktopMenuStartContent * {
  transition: color 200ms ease;
}

.desktopMenuEndContent * {
  transition: color 200ms ease;
}

.desktopMenuStartContent *:where(:hover, :focus), .desktopMenuEndContent *:where(:hover, :focus) {
  color: var(--blue);
}

.packageLink {
  color: var(--blue);
}

.mobileMenu {
  display: none;
}

.mobileMenuTitle {
  font-weight: 600;
  font-size: 2.4rem;
  font-family: var(--code-font);
}

@media (max-width: 550px) {

  .desktopMenu {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

}

.mobileMenu .icon {
  cursor: pointer;
  font-size: 2rem;
  fill: white
}

.closeIcon {
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.mobileMenuContentWrapper {
  position: fixed;
  top: 0;
  left: -300%;
  transition: left 250ms ease;
  background-color: #0a0a0a;
  height: 100%;
  width: 100%;
  z-index: 4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  gap: 1.25rem;
  flex-direction: column;
  color: white;
}

.mobileMenuContentWrapper[data-open="true"] {
  left: 0;
}

.properties {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;
  flex-flow: row-reverse;
  width: 100%;
}

.divider {
  height: 2px;
  width: 90%;
  background-color: rgba(100, 100, 100, .75);
}

.mobile_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2rem;
  gap: .5rem;
  flex-direction: column;
}

.mobile_footer {
  text-align: center;
}

.activator {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}