.container {
  padding: 0 2rem;
}

.main {
  min-height: 650px;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
  margin-top: 6rem;
  text-align: center;
  margin-bottom: 4rem;
}

.navFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.7rem;
  margin: 0;
}

@media (max-width: 560px) {
  .navFlex {
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .title {
    font-size: 3.5rem;
  }
}

@media (max-width: 430px) {
  .title {
    font-size: 3rem;
  }
}

.navLink {
  color: #58aeff;
}

.navLink:where(:hover, :focus) {
  color: #00bbff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.item {
  background-color: rgba(0, 0, 0, .2);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .2rem;
}

.pre code {
  border-radius: .3rem;
}

.preNoCopy code {
  border-radius: .3rem;
}

.preNoCopy [class*="hljs-copy-button"] {
  display: none !important;
}

.example {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.example .codeExplanation {
  justify-self: left;
  margin-left: 10rem;
  margin-right: 10rem;
  text-align: center;
}

@media (max-width: 810px) {
  .codeExplanation {
    margin-left: 7rem !important;
    margin-right: 7rem !important;
  }
}

@media (max-width: 600px) {
  .codeExplanation {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}

.esScope {
  margin-bottom: 3rem;
  background: rgb(12, 14, 16);
  border-radius: 5px;
  padding: 1.2rem 1rem;
  font-size: 1.15rem;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: max-content;
  max-width: fit-content;
  font-family: var(--code-font);
  cursor: pointer;
}

.esBox {
  display: none;
}

.check {
  padding: .1rem;
  font-size: 1.3rem;
  border-radius: .1rem;
  background-color: rgb(179, 179, 179);
  color: white;
}

.check[data-valid] {
  background-color: rgb(80, 190, 80);
  color: black;
}