:root {
  --code-font: 'Lucida Console', Consolas, monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui;
  background-color: rgb(33, 41, 52);
  min-height: 650px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
code {
  color: white;
}

code:not(.hljs) {
  background: rgb(12, 14, 16);
  border-radius: 5px;
  padding: 1.2rem 1rem;
  font-size: 1.15rem;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: max-content;
  max-width: fit-content;
  font-family: var(--code-font);
}

pre code {
  display: block;
  background: #2d2d2d;
  color: #cccccc;
  font-family: var(--code-font) !important;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 90vw;
  width: 60rem;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

.hljs {
  color: #abb2bf;
  background: #282c34
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #c678dd
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75
}

.hljs-literal {
  color: #56b6c2
}

.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #98c379
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #e6c07b
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

.hljs-link {
  text-decoration: underline
}

[data-paramTitle] code {
  margin-top: 4rem !important;
}

[data-paramTitle] code:hover {
  text-decoration: underline 1px;
}

/* HLJS 
credits to https://github.com/arronhunt/highlightjs-copy
just wanted to customize a bit so took the code.
*/

.hljs-copy-wrapper {
  position: relative;
  overflow: hidden
}

.hljs-copy-button {
  position: absolute;
  cursor: pointer;
  top: 1em;
  right: 1em;
  width: 2rem;
  height: 2rem;
  text-indent: -9999px;
  color: #fff;
  border-radius: .25rem;
  border: 1px solid #ffffff22;
  background-color: #2d2b57;
  background-color: var(--hljs-theme-background);
  background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 5C5.73478 5 5.48043 5.10536 5.29289 5.29289C5.10536 5.48043 5 5.73478 5 6V20C5 20.2652 5.10536 20.5196 5.29289 20.7071C5.48043 20.8946 5.73478 21 6 21H18C18.2652 21 18.5196 20.8946 18.7071 20.7071C18.8946 20.5196 19 20.2652 19 20V6C19 5.73478 18.8946 5.48043 18.7071 5.29289C18.5196 5.10536 18.2652 5 18 5H16C15.4477 5 15 4.55228 15 4C15 3.44772 15.4477 3 16 3H18C18.7956 3 19.5587 3.31607 20.1213 3.87868C20.6839 4.44129 21 5.20435 21 6V20C21 20.7957 20.6839 21.5587 20.1213 22.1213C19.5587 22.6839 18.7957 23 18 23H6C5.20435 23 4.44129 22.6839 3.87868 22.1213C3.31607 21.5587 3 20.7957 3 20V6C3 5.20435 3.31607 4.44129 3.87868 3.87868C4.44129 3.31607 5.20435 3 6 3H8C8.55228 3 9 3.44772 9 4C9 4.55228 8.55228 5 8 5H6Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C7 1.89543 7.89543 1 9 1H15C16.1046 1 17 1.89543 17 3V5C17 6.10457 16.1046 7 15 7H9C7.89543 7 7 6.10457 7 5V3ZM15 3H9V5H15V3Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 200ms ease, border-color 200ms ease;
}

.hljs-copy-button:hover {
  border-color: #ffffff44
}

.hljs-copy-button:active {
  border-color: #ffffff66
}

.hljs-copy-button[data-copied="true"] {
  text-indent: 0;
  width: auto;
  background-image: none
}

@media(prefers-reduced-motion) {
  .hljs-copy-button {
    transition: none
  }
}

.hljs-copy-alert {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px
}