.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.main {
  min-height: 650px;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  margin-top: 10rem;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.title[class*="intersect"] {
  opacity: 1;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  position: relative;
  left: -3rem;
  opacity: 0;
  transition: 400ms ease-out;
  transition-property: opacity, left;
}

.description[class*="intersect"] {
  left: 0;
  opacity: 1;
}

.code {
  cursor: pointer;
}

@media (max-width: 560px) {
  .title {
    font-size: 3.5rem;
  }
}

@media (max-width: 430px) {
  .title {
    font-size: 2.6rem;
  }
}

.navFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.7rem;
  margin: 0;
}

@media (max-width: 560px) {
  .navFlex {
    font-size: 1.5rem;
  }
}

.navLink {
  --time: 250ms;

  color: #58aeff;
  position: relative;
  right: -9rem;
  opacity: 0;
  transition: 400ms ease-out;
  transition-property: opacity, right;
}

.firstLink {
  transition-delay: none;
}

.secondLink {
  transition-delay: var(--time);
}

.thirdLink {
  transition-delay: calc(var(--time) * 2);
}

.navLink[class*="intersect"] {
  right: 0;
  opacity: 1;
}

.navLink:where(:hover, :focus) {
  color: #00bbff;
}

/* FEATURES SECTION */

.features {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  flex-direction: column;
}

.feature {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  align-items: center;
  width: 100vw;
}

@media (max-width: 800px) {
  .feature {
    flex-direction: column;
    gap: 2rem;
  }

  .featureInfo {
    text-align: unset !important;
    align-items: center !important;
  }

  .feature[class*="fromRight"] {
    flex-direction: column-reverse;
  }

  .featureTitle {
    font-size: 2.7rem !important;
  }

  .featureTitle[data-dep] {
    font-size: 2.3rem !important;
  }
}

.featureInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: 500ms ease-out;
}

.featureInfo[class*="fromLeft"] {
  left: -30vw;
  transition-property: left, opacity;
}

.featureInfo[class*="fromRight"] {
  text-align: end;
  align-items: flex-end;

  right: -30vw;
  transition-property: right, opacity;
}

.featureInfo[class*="fromLeft"][class*="intersect"] {
  left: 0;
  opacity: 1;
}

.featureInfo[class*="fromRight"][class*="intersect"] {
  right: 0;
  opacity: 1;
}

.featureTitle {
  font-size: 3rem;
  margin: 0;
  min-width: max-content;
}

.featureInfo .brief {
  max-width: 30ch;
}

.featureIcon {
  font-size: 10rem;
  color: white;
  opacity: 0;
  position: relative;
  transition: 500ms ease-out;
  transition-delay: 250ms;
}

.feature[class*="fromLeft"] .featureIcon {
  right: -30vw;
  transition-property: opacity, right;
}

.feature[class*="fromLeft"] .featureIcon[class*="intersect"] {
  opacity: 1;
  right: 0;
}

.feature[class*="fromRight"] .featureIcon {
  left: -30vw;
  transition-property: opacity, left;
}

.feature[class*="fromRight"] .featureIcon[class*="intersect"] {
  opacity: 1;
  left: 0;
}

.featureLink {
  font-family: var(--code-font);
  color: #0bcaff;
  transition: 120ms ease;
  border-bottom-color: #0bcaff;
  border-bottom: solid 1px;
  transition-property: border-bottom-color, color;
}

.featureLink:where(:hover, :focus) {
  color: white;
  border-bottom-color: gray;
}

.docsBtn {
  max-width: fit-content;
  margin-top: 4.5rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .4);
  color: white;
  border: solid 1px white;
  border-radius: .3rem;
  transition: 300ms ease;
  transition-property: color, border-color, background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
  outline: none !important;
}

.docsBtn:where(:hover, :focus, :focus-visible, :focus-within) {
  color: black;
  background-color: white;
  border-color: black
}